.resident-container {
    position: relative;
}

.resident-image {
    display: block;
    width: 100%;
    height: auto;
    cursor:initial;
}

/* 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.7);
} 
.resident-container:hover .overlay {
    opacity: 1;
    transition: .5s ease;
} */

.resident-card-text {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.resident-card-text h5 {
    font-size: 2rem;
}

.resident-card-text p {
    font-size: 0.8rem;
    color: grey;
}

@media screen and (max-width: 1240px) {

    .residents {
        padding-bottom: 60px;
        margin-top: 120px;
    }
}