.cards-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    color: white;
}

.card-image {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    text-align: center;
    overflow: hidden;
    display: block;
    transition: all 0.2s ease-in-out;
}

.card-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    transition: all 0.3s ease-in-out;
}

.card-container {
    width: 30%;
    margin-bottom: 40px;
    background-color: black;
    /* border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
    line-height: 20px;

}

.play-pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    background-color: transparent;
}

.play,
.pause {
    background-color: transparent;
}

.card-image:hover {
    opacity: 0.7;
}

.card-text {
    text-transform: uppercase;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-text {
    text-align: center;
}

.card-text h5 {
    font-size: 1rem;
}

.card-text p {
    font-size: 0.8rem;
    color: gray;
}

.title {
    font-size: 8rem;
    color: white;
    padding-top: 5vh;
}

@media screen and (max-width: 1240px) {
    .cards-container {
        display: block;
        padding-bottom: 12vh;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 100px;
    }
    .card-container {
        width: 100%;
        margin-bottom: 0;
    }
    .card-text {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .play, .pause {
        font-size: 4rem;
        filter: opacity(0.6);
    }
    .card-text h5 {
        font-size: 0.9rem;
    }
    .card-text p {
        font-size: 0.7rem;
        color: gray;
    }
    .card-image {
        height: 45vh;
    }
    .card-image img {
        width: 100%;
        height: 100%;
    }
    .card-image:hover {
        opacity: 1;
    }
    .card-image img:hover {
        transform: scale(1);
    }
    @keyframes fade {
        100% {
            filter: opacity(1);
        }
    }
    @-webkit-keyframes fade {
        100% {
            filter: opacity(1);
        }
    }
    .fade {
        position: relative;
        animation: fade 2s forwards;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
        filter: opacity(1) !important;
    }
}


/* Animated Cards Container */


/* Slide In */

@keyframes fade {
    100% {
        filter: opacity(1);
    }
}

@-webkit-keyframes fade {
    100% {
        filter: opacity(1);
    }
}

.fade {
    position: relative;
    animation: fade 2s forwards;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    filter: opacity(0);
}