/* Fonts */
/* Jura */
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

:root {
  --active-link: #ff9900;
  --fullwidth-ml: 20px;
  --fullwidth-mr: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Jura', sans-serif;
}

body {
  background-color: black;
}
